<html>
<head>
	<title>jabys - big2 on roids</title>
	
	<link rel='stylesheet' href='../stylesheets/lobby.css' />
	<link rel='stylesheet' href='../stylesheets/tipsy.css' />
	
	<script src="/javascripts/jquery-ui-1.8.16.custom.min.js"></script>
	<!-- // <script src="/nowjs/now.js"></script> -->
	<script src="/javascripts/jquery.masonry.min.js"></script>
	<script src="/javascripts/jquery.tipsy.js"></script>
	
	<script type="text/javascript">	// juicy stuff
		$().ready(function(){
			// $('#games-list').masonry();
			$('#fb-login').live("click", function(e){
				document.location.href="auth/facebook";
			});
			
			$('.game-item').live("click", function(e){
				var roomId = $(this).attr('data-room-id');
				document.location.href="game/"+roomId;
			});
			
			now.updateClientCount = function(roomId, numPlayers){
				$('#room-'+roomId).find('.game-players').text(numPlayers + "/4 players");
			}
		});
		
		Object.size = function(obj) {
		    var size = 0, key;
		    for (key in obj) {
		        if (obj.hasOwnProperty(key)) size++;
		    }
		    return size;
		};
	</script>
</head>

<body>
	<div id="wrapper">
		<div class="heading" id="lobby-title">Lobby</div>
		<div id="games-list">
			<div class="games-list-heading">
				All games
			</div>
			
			
			<% myRooms.forEach(function(room, index){ %>
				<div class="game-item" id="room-<%= room.roomId %>" data-room-id="<%= room.roomId %>">
					<div class="game-id">Game <%= room.roomId %></div>
					<div class="game-players">
						<%= Object.size(room.usersHash) %>/4
						<%= Object.size(room.usersHash) == 1 ? "player" : "players" %>
					</div>
				</div>
			<% }); %>
			
		</div>
		<div class="sidebar">
			<% if (sess.doc == undefined) { %>
				<div class="anon-info">
					You are playing anonymously. Log in with FB to track your stats!
					<div id="fb-login"><img src="/images/icon-fb.gif" />Log In with Facebook</div>
				</div>
			<% } else { %>
				<div class="user-stats-wrap">
					<div class="user-stats">
						<div class="stats user-name"><%= sess.doc.name %></div>
						<div class="stats user-score">Score: <%= sess.doc.score %></div>
						<div class="stats user-wins">Wins: <%= sess.doc.wins %></div>
						<div class="stats user-num-games">Games: <%= sess.doc.numGames %></div>
					</div>
				</div>
			<% } %>
		</div>
	</div>
</body>
</html>