<html>
<head>
	<title>jabys - big2 on roids</title>

	<link rel="stylesheet" media="screen and (min-width: 481px)" href="../stylesheets/lobby.css" />
		
	<link rel="stylesheet" media="screen and (min-width: 320px) and (max-width: 480px)" href="../stylesheets/lobby_iphone_320.css" />
	
	
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	
	<script src="/javascripts/jquery-ui-1.8.16.custom.min.js"></script>
	<!-- // <script src="/nowjs/now.js"></script> -->
	
	<script type="text/javascript">	// juicy stuff
		$().ready(function(){
			// $('#games-list').masonry();
			
			now.updateClientCount = function(roomId, numPlayers){
				$('#room-'+roomId).find('.game-players').text(numPlayers + "/4 players");
			}
		});
		
		Object.size = function(obj) {
		    var size = 0, key;
		    for (key in obj) {
		        if (obj.hasOwnProperty(key)) size++;
		    }
		    return size;
		};
	</script>
</head>

<body>
	<div id="wrapper">
		<div id="games-list">
			<div class="games-list-heading">
				<h1>Lobby</h1>
			</div>
			
			
			<% myRooms.forEach(function(room, index){ %>
				<a href="game/<%= room.roomId %>" class="game-item" id="room-<%= room.roomId %>" data-room-id="<%= room.roomId %>">
					<div class="game-id">Game <%= room.roomId %></div>
					<div class="game-players">
						<%= Object.size(room.usersHash) %>/4
						<%= Object.size(room.usersHash) == 1 ? "player" : "players" %>
					</div>
				</a>
			<% }); %>
			
		</div>
	</div>
</body>
</html>